<!DOCTYPE html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" href="/img/weather.png" />
</head>
<html>
    <body>
        <div class=main-content>
            {{>header}} <!--Rendering partials. Provide partials file name-->
            <h4>{{title}}</h4>
            <img src="./img/weather.jpg" class="potrait">
            <P>This site is created by node developer. It uses data from mapbox.com and weatherstack.com</P>
            <p>{{name}}</p>
        </div>
        {{>footer}}
    </body>
</html>