<!DOCTYPE html>
<head>
    <title>Help</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="icon" href="/img/weather.png" />
</head>
 
<html>
    <body>
        <div class=main-content>
            {{>header}} <!--Rendering partials. Provide partials file name-->
            <h1>This is a standard help page !!!</h1>
            <p>{{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>